---
import { Icon } from "astro-icon";
import type { FooterLink } from "../types";

const links: Array<FooterLink> = [
  {
    url: "https://github.com/rickmff/100DiasDeCodigo-landing",
    description: "100DiasDeCodigo no GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://discord.gg/he4rt",
    description: "100DiasDeCodigo no Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/cemDiasDeCodigo",
    description: "100DiasDeCodigo no Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="relative flex-col h-64 items-center justify-center">

  <ul class="flex gap-8 justify-center mb-6">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="sm:h-full h-12" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
  <p class="text-center">© 2023 He4rt Devs. Todos os direitos reservados.</p>
</footer>

