---
import ContentSection from "../layout/content-section.astro";
import { Icon } from "astro-icon";
import twitter from "../assets/twitterExemplo.png";
import instagram from "../assets/instagramExemplo.gif";
---

<script>
  const twitter = document.querySelector('button#participacaoTwitter');
  const instagram = document.querySelector('button#participacaoInstagram');
  const exibirTwitter = document.querySelectorAll('.exibirTwitter');
  const exibirInstagram = document.querySelectorAll('.exibirInstagram');

  const alternaExibicao = () => {
    twitter?.classList.toggle("botaoAtivado");
    instagram?.classList.toggle("botaoAtivado");

    exibirInstagram.forEach((exibicao) => {
      exibicao.style.display = (instagram?.classList.contains('botaoAtivado')) ? 'block' : 'none';
    });

    exibirTwitter.forEach((exibicao2) => {
      exibicao2.style.display = (twitter?.classList.contains('botaoAtivado')) ? 'block' : 'none';
    });
  };

  twitter?.addEventListener("click", alternaExibicao);
  instagram?.addEventListener("click", alternaExibicao);

</script>

<ContentSection title="Como participar" id="comoParticipar">
  <Fragment slot="lead">
    <div class="socialMediaOpcoes">
      <button id="participacaoTwitter" class="botao botaoAtivado">Twitter</button>
      <button id="participacaoInstagram" class="botao">Instagram</button>
    </div>
    <div class="participarContainer">
      <div class="texto">
        <ul>
          <li>
            <Icon class="iconNumbers" name="iconCircle1" />
            <div class="content">
              <h3>Programe</h3>
              <p>
                Programe no mínimo <span>uma hora</span> todos os dias pelos próximos
                <span>100 dias</span>.
              </p>
            </div>
          </li>
          <li>
            <Icon class="iconNumbers" name="iconCircle2" />
            <div class="content">
              <div class="exibirTwitter">
                <h3>Tweete</h3>
                <p>
                  <span>Tweete</span> seu progresso todos os dias com a hashtag <span
                    >#100DiasDeCodigo</span
                  >.
              </div>
              <div class="exibirInstagram">
                <h3>Poste um story</h3>
                <p>
                  <span>Poste um story</span> com seu progresso todos os dias com a hashtag <span>#100DiasDeCodigo</span>
                  marcando a 
                  <a class="instagram" target="_blank" href="https://instagram.com/heartdevs">He4rt Developers</a>
                  no Instagram para que possamos repostar! Crie uma aba #100DiasDeCodigo nos <span>destaques</span> e adicione diáriamente seu progresso!
              </div>
              </p>
            </div>
          </li>
          <li>
            <Icon class="iconNumbers" name="iconCircle3" />
            <div class="content">
              <h3>Interaja</h3>
              <p class="exibirTwitter">
                Todos os dias, entre em <span>contato</span> com pelo menos <span
                  >duas pessoas</span
                > no Twitter que também estão participando do desafio.
              </p>
              <p class="exibirInstagram">
                Todos os dias, entre em <span>contato</span> com pelo menos <span
                  >duas pessoas</span
                > no Instagram (via stories da He4rt) que também estão participando do desafio.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="exemplo">
        <div class="socialCard">
          <img src={twitter.src} alt="Exemplo no twitter" class="twitterCard exibirTwitter">
          <img src={instagram.src} alt="Exemplo no instagram" class="instagramCard exibirInstagram">
        </div>
        <div class="iniciarDesafio">
          <p>Comprometa-se publicamente com o desafio:</p>
          <button class="bg-button hover:bg-indigo-900 rounded-xl py-3 px-8 font-medium text-button">
            <a
              class="exibirTwitter"
              href="https://twitter.com/intent/tweet?text=Eu%20publicamente%20me%20comprometo%20aos%20desafios%20do%20100%20Dias%20De%20Codigo%20começando%20hoje!&url=https://100diasdecodigo.dev&hashtags=100DiasDeCodigo&via=he4rtdevs @danielhe4rt"
              target="_blank">Tweet para começar o desafio!</a
            >

            <a
              class="exibirInstagram"
              href="https://i.imgur.com/iMLRApS.png"
              target="_blank">Poste para começar o desafio!</a
            >
          </button>
        </div>
      </div>
    </div>
  </Fragment>
</ContentSection>

<style scoped>
  .socialMediaOpcoes{
    display: flex;
  }

  .botao{
    padding: 4px 5rem;
    background-color: var(--color-border);
    border-radius: 8px;
  }

  .botaoAtivado{
    background-color: var(--color-primary);
    color: var(--color-text-button);
    font-weight: bold;
  }

  .instagram {
    text-decoration: underline;
    background: linear-gradient(157deg, rgba(249,206,52,1) 0%, rgba(238,42,112,1) 50%, rgba(98,40,208,1) 100%);
    background: -webkit-linear-gradient(157deg, rgba(249,206,52,1) 0%, rgba(238,42,112,1) 50%, rgba(98,40,208,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .botaoDesativado{
    background-color: red;
  }

  #participacaoTwitter{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #participacaoInstagram{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .participarContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .texto{
    width: 50%;
    padding-right: 2em;
  }

  .texto h3{
    font-size: 30px;
    font-weight: bold;
  }

  .exibirInstagram{
    display: none;
  }

  .exemplo{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  @media screen and (max-width: 800px) {
    .socialMediaOpcoes {
      flex-flow: column;
      width: 100%;
    }

    #participacaoTwitter{
      border-top-right-radius: 8px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    #participacaoInstagram {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .participarContainer {
      flex-direction: column;
    }

    .texto {
      width: 100%;
    }

    .exemplo {
      width: 100%;
    }
  }

  .iniciarDesafio{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .iniciarDesafio p{
    margin-bottom: 1em;
  }

  .twitterCard{
    width: 20em;
    height: 100%;
    border-radius: 1em;
    border: 2px solid  var(--color-primary);
  }

  .instagramCard{
    width: 15em;
    height: 100%;
    border-radius: 1em;
    border: 2px solid  var(--color-primary);
  }

  .iconNumbers {
    width: 70px;
    min-width: 70px;
  }

  @media screen and (max-width: 800px) {
    .iconNumbers {
      width: 50px;
      min-width: 50px;
    }
  }

  span {
    color: var(--color-primary);
  }

  h3 {
    color: var(--color-title);
    font-weight: bold;
    font-size: clamp(24px, 5vw, 32px);
  }

  li {
    margin-bottom: clamp(50px, 10vw, 100px);
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  p {
    color: var(--color-text-default);
  }
</style>
